.thumb-flex {
    display: flex;
    margin: 1.5rem;
}
.thumb{   
    padding: 1rem;
    border-radius: .3rem;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    transition: all 0.5s ease-in-out;

}

.thumb:hover{
    transform: scale(1.1);
}