.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 7.5rem;
    -webkit-box-shadow: 0px 5px 10px 0pxrgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.35);
}

.header-container h1 {
    font-weight: 700;
    transition: 0.3s;
}

.header-container a:hover h1 {
    color: #ff7f50;
}


.header-container nav,
.header-container nav ul,
.header-container nav ul li {
    display: flex;
    align-self: stretch;
}

.header-container nav ul li a {
    align-self: center;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem 2rem;
    transition: 0.5s;
    margin: 0;
}

.header-container nav ul li:hover,
.header-container nav ul li.active {
    color: #fff;
    background-color: #ff7f50;
}


.header-container button {
    font-size: 1.5rem;
    padding: 1rem;
    background-color: #c24d23;
    color: #fff;
    font-weight: 500;
    transition: all .5s;
}

.header-container button:hover {
    box-shadow: inset;
    -webkit-box-shadow: inset 0px 0px 15px 0px rgba(223, 56, 5, 0.75);
    -moz-box-shadow: inset 0px 0px 15px 0px rgba(223, 56, 5, 0.75);
    box-shadow: inset 0px 0px 15px 0px rgba(223, 56, 5, 0.75);
}
.header-container button:active {
    box-shadow: inset;
    -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/* hamburger */

@import url(hamburger.css);
@import url(loader.css);

@media (max-width: 900px) {
    .header-container .menu {
        display: block;
    }

    .header-container nav ul {
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        height: 0;
        overflow: hidden;
        transition: height 0.5s ease-in-out;
        background-color: #fff;
        -webkit-box-shadow: 0px 5px 5px 0pxrgba(0, 0, 0, 0.35);
        -moz-box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
        box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.35);
        position: absolute;
        right: 0rem;
        top: 6.5rem;
        z-index: 1;
        width: 100svw;
    }


    .header-container input:checked~ul {
        height: 13rem;
    }

    .header-container nav {
        display: block;
        position: absolute;
        right: 0;
        align-self: center;
    }
    .header-container nav ul button{
        width: 100%;
    }

    
    .header-container nav ul li a {
        text-align: center;
        display: block;

    }


    .header-container nav ul li {
        align-items: center;
        justify-content: center;
        flex-grow: 1;
    }

    .header-container nav ul li a.active {
        font-weight: 900;
        background-color: inherit;
        color: inherit;
    }

}