body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-weight: 300;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  list-style: none;
}

main {
  display: flex;
  max-width: 1200px;
  margin: auto;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 3rem auto;
  justify-content: center;
}

.all {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.list-id {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-id li {
  height: 3.5rem;
  width: 9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: .5rem;
  border: 1px solid #000;
  border-radius: .3rem;
  transition: all .5s;
}

.list-id .album-id {
  font-weight: 500;
  
}

.list-id li:hover {
  background: coral;
  color: white;
  border: 1px solid #f9af6d;
}

.d-none {
  display: none !important;
}

.album-photos {
  width: 100%;
  text-align: center;
}

.album-photos form {
  margin: 1rem 0;
  position: relative;
}

.album-photos form input {
  width: 80%;
  font-size: 1.5rem;
  border: 1px solid #0000008e;
  padding: .8rem;
  border-radius: 1.5rem;
}

.album-photos form button {
  font-size: 1.5rem;
  padding: .8rem 2rem;
  border-radius: 0 1.5rem 1.5rem 0;
  z-index: 2;
  margin-left: -5.54rem;
  background: coral;
  color: #fff;
  border: 1px solid #0000008e;
}

p {
  padding: 0.5rem 0;
}

.title{
  font-weight: 600;
}